<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
     layout:decorator="base">

  <h1 layout:fragment="header">
    Modifier une Obligation
  </h1>

  <div layout:fragment="body">
    <form action="#" th:action="@{/bond/update}" th:object="${bondForm}" method="POST">
      <input type="hidden" th:field="*{id}"/>
      <div class="form-group">
        <label>Nom Obligation :</label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="name"/><br/>
      </div>
      <div class="form-group">
        <label>Valeur Nominale :</label>
        <input type="text" th:field="*{principalAmount}" class="form-control" placeholder="Valeur Nominale"/><br/>
      </div>
      <div class="form-group">
        <label>Code ISIN :</label>
        <input type="text" th:field="*{isinCode}" class="form-control" placeholder="codeIsin"/><br/>
      </div>
      <div class="form-group">
        <label>Symbole :</label>
        <input type="text" th:field="*{ticker}" class="form-control" placeholder="Symbole"/><br/>
      </div>

      <div style="clear:both; display:block;height:10px;"></div>
      <input type="submit" class="btn btn-default pull-right" value="Update"/>
    </form>

  </div>
</div>