<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<!-- Bootstrap Core CSS -->
<link href="../../static/bower_components/bootstrap/dist/css/bootstrap.min.css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" th:rel="stylesheet"/>

<!-- MetisMenu CSS -->
<link href="../../static/bower_components/metisMenu/dist/metisMenu.min.css" th:href="@{/bower_components/metisMenu/dist/metisMenu.min.css}" th:rel="stylesheet"/>

<!-- Timeline CSS -->
<link href="../../static/dist/css/timeline.css" th:href="@{/dist/css/timeline.css}" th:rel="stylesheet"/>

<!-- Custom CSS -->
<link href="../../static/dist/css/sb-admin-2.css" th:href="@{/dist/css/sb-admin-2.css}" th:rel="stylesheet"/>

<!-- Morris Charts CSS -->
<link href="../../static/bower_components/morrisjs/morris.css" th:href="@{/bower_components/morrisjs/morris.css}" th:rel="stylesheet"/>

<!-- Custom Fonts -->
<link href="../../static/bower_components/font-awesome/css/font-awesome.min.css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}" th:rel="stylesheet" type="text/css"/>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
